/* img {
    width: 100%;
}

.logo {
    width: 13rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-list a{
    color: black;
    margin: 10px;
    font-weight: 500;
} */

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: black;
}

.container{
    width: 1280px;
    margin: auto;
}

.nav_checkbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;
}

.logo img{
    width: 14rem;
    padding-left: 10px;
}

.tab-nav{
    outline: none;
    display: none;
}

.label{
    display: none;
    color: #fff;
}

.burger{
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin-top: 5px;
    transition:all 0.5s ease;
}

input[type=checkbox]:checked ~ .label #burg0{
  opacity:0;
}

input[type=checkbox]:checked ~ .label #burg1{
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type=checkbox]:checked ~ .label #burg2{
  transform: rotate(-45deg) translate(7px, -7px);
}

.content_nav{
    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0; 
}

.content_nav li{
    display: inline-block;
    padding-right: 10px;
}

.content_nav li a{
    text-decoration: none;
    color: white;
    position: relative;
}

.content_nav li a::after{
    content: '';
    display: block;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: left;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;
}

.content_nav li a:hover::after{
    transform: scale(1, 1);
}

.content_section{
    height: 120vh;
    background-image: url(https://images.pexels.com/photos/4245826/pexels-photo-4245826.jpeg?cs=srgb&dl=pexels-riccardo-bertolo-4245826.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1280px){
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 770px){
    .label{
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }

    .content_nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
    }

    .nav_checkbox input:checked ~ .content_nav{
        max-height: 500px;
    }

    .content_nav li{
        padding: 15px 0px;
    }
}