<!-- Header Starts Here -->
<!-- <header>
    Nav
    <div class="nav container">
        <div class="immagine">
             <img class="logo" src="./assets/logo.png" alt="logo">
        </div>
        <div class="nav-list">
            <a routerLink="">Home</a>
            <a routerLink="">Reviews</a>
            <a routerLink="">Catalogo</a>  
        </div>
    </div>
</header> -->

<header>
    <div class="container">
        <nav class="nav_checkbox">
            <a href="#" class="logo"><img src="./assets/logo.png" alt="logo"></a>
            <input type="checkbox" id="tab-nav" class="tab-nav">
            <label for="tab-nav" class="label">
                <div id="burg1" class="burger"></div>
                <div id="burg0" class="burger"></div>
                <div id="burg2" class="burger"></div>
            </label>
            <ul class="content_nav">
                <li [ngClass]="{'underline' : (selectedPath == '' || selectedPath == 'dettaglio-news' || selectedPath == 'lista-news') }"><a routerLink="/">NEWS</a></li>
                <li [ngClass]="{'underline' : (selectedPath == 'reviews')  }"><a routerLink="/reviews">REVIEWS</a></li>
                <li [ngClass]="{'underline' : (selectedPath == 'catalogo') }"><a routerLink="/catalogo">CATALOGO</a></li>
            </ul>
        </nav>
    </div>
</header>
