/* Footer */

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, auto));
  gap: 1rem;
  background-color: black;
  z-index: 5;
  position: relative;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box h2{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
}

.footer-box a{
  color: white;
  margin-bottom: 4px;
  text-decoration: none;
}

.social {
  display: flex;
  column-gap: 1rem;
}

.social .bx {
  background: #fafafa;
  color:  #2156d2;
  padding: 10px;
  border-radius: .5rem;
  font-size: 1.2rem;
}

.social .bx:hover {
  background: #2156d2;
  color: #fafafa;
}

.copyright {
  text-align: center;
  padding: 20px;
  color: #fafafa;
}


@media(max-width: 645px) {
  .footer {
      grid-template-columns: repeat(1, 1fr);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .social .bx {
    margin-bottom: 1rem;
  }
}

.logo{
  margin-top: 3.4rem;
  margin-bottom: auto;
  margin-left: 2rem;
  margin-right: auto;
  width: 13rem;
  height: auto;
}




