<body>
  <main class="main">
      <section class="container">
          <div class="title">
              <h2 style="color: #fafafa;">Recensioni</h2>
              <div class="underline"></div>
          </div>
          <!-- Review Starts Here -->
          <article class="review" *ngFor="let l of listaReview$ | async">
            <p id="game">{{ l.reviewedGame.name }}</p>
              <div class="imagecontainer">
                  <img src="{{ l.imageUrls }}" id="person-img" alt="photo" height="70px" width="70px">
              </div>
              <!-- Stars -->
              <div class="stars"
                   [ngStyle]="{'--rating': l.score}"
                    aria-label="Rating of this product is 2.3 out of 5.">
              </div>
              <!-- Content -->
              <h4 id="title">{{ l.title }}</h4>
              <p id="name">{{ l.reviewerName }}</p>
              <p id="date">{{ l.publicationDate }}</p>
              <p id="info">{{ l.content }}</p>
              <button  [routerLink]="['/dettaglio', l.reviewedGame.id]" class="random-btn">Scopri di più!</button>
          </article>
      </section>
  </main>  
</body>

<button *ngIf="isShow" class="back-to-top" id="back-to-top" (click)="gotoTop()"><i class='fa fa-chevron-up'></i></button>
