<div>
  <html lang="it" data-theme="light">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./lista-videogiochi.component.css">
</head>

<body>
  <div class="category-header">
    <div class="category-btn">
      <button [ngClass]="{'colorBtn' : btnXbox}" (click)="btnXbox = !btnXbox; ricerca()" >XBOX</button>
      <button [ngClass]="{'colorBtn' : btnPs3}"  (click)="btnPs3 = !btnPs3; ricerca()" >PS3</button>
      <button [ngClass]="{'colorBtn' : btnPs4}" (click)="btnPs4 = !btnPs4; ricerca()" >PS4</button>
      <button [ngClass]="{'colorBtn' : btnPs5}" (click)="btnPs5 = !btnPs5; ricerca()" >PS5</button>
      <button [ngClass]="{'colorBtn' : btnPC}" (click)="btnPC = !btnPC; ricerca()">PC</button>
      <i (click)="refreshNews()" id="reloading-icon" class="fa fa-refresh" aria-hidden="true"></i>
    </div>
    <div class="search-box">
      <button (click)="ricerca()" class="btn-search"><i class="fas fa-search"></i></button>
      <input type="text" class="input-search" placeholder="Cerca..." [(ngModel)]="keyRicerca"> 
    </div>
  </div>

  <main class="main" >
    <section *ngFor="let v of listaVideogiochi$ | async" class="card">


      <figure class="figure" [routerLink]="['/dettaglio',v.id]">
        <img class="image" src="{{ v.coverImage }}" alt="coverImage">
      </figure>
      <div class="description">
        <div class="my-bg-color"></div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="details_container">
          <h5 class="card_title">
            {{ v.title }}
          </h5>
          <div class="game_details">
            <figure class="detail">
              <img class="star_image" src="https://aux.iconspalace.com/uploads/game-center-icon-256.png" alt="">
              <figcaption class="detail_text">{{ v.genre }}</figcaption>
            </figure>
            <figure class="detail">
              <img class="star_image" src="https://raw.githubusercontent.com/NaveenPantra/card_ui_interaction/master/onlinegame.png" alt="">
              <figcaption class="detail_text">Online</figcaption>
            </figure>
            <figure class="detail">
              <img class="star_image" src="https://raw.githubusercontent.com/NaveenPantra/card_ui_interaction/master/multiplayer.png" alt="">
              <figcaption class="detail_text">Fino a {{ v.numberOfPlayers }} giocatore/i</figcaption>
            </figure>
          </div>
        </div>

      </div>
    </section>
  </main>
</body>
<button *ngIf="isShow" class="back-to-top" id="back-to-top" (click)="gotoTop()"><i class='fa fa-chevron-up'></i></button>
</html>
</div>