
<div *ngIf="(listaVideogiochi$ | async) as listV" class="game">
   <p class="title">DETTAGLIO GIOCO</p>
   <br>
   <br>
   <p> <img [src]="listV.coverImage" alt="image"> </p>
   <p>Titolo: {{ listV.title }}</p>
   <p>Piattaforma: {{ listV.category }}</p>
   <p>Data di Uscita: {{ listV.releaseDate }}</p>
   <p>Genere: {{ listV.genre }}</p>
   <p>Sviluppatore: {{ listV.softwareHouse }}</p>
   <p>Publisher: {{ listV.publisher }}</p>
   <p>Numero massimo di giocatori: {{ listV.numberOfPlayers }}</p>
   <p>
    Audio: {{ listV.languages.voice }} <br>
    Sottotitoli: {{ listV.languages.text }}
   </p>
    
</div>