<div class="wrapper">
 <div *ngIf="(listaVideogiochi$ | async) as listV" class="game">
   <!-- <h1>DETTAGLI DEL GIOCO</h1> -->
   <div class="videogioco-header">
     <h2>{{ listV.title }}</h2>
     <div class="image" >
        <img [src]="listV.coverImage" alt="image">
      </div>
   </div>
   
   <div class="contenuto">
     <div class="genere-piattaforma">
          <p><i class='bx bx-category'></i>{{ listV.genre }}</p>
          <p><i class='bx bx-joystick' ></i> {{ listV.category }}</p>
     </div>
     <div class="sviluppatore-publisher">
          <p>Sviluppatore: {{ listV.softwareHouse }}</p>
          <br>
          <p>Publisher: {{ listV.publisher }}</p>
     </div>
     <div class="lista">
          <p>Numero massimo di giocatori: {{ listV.numberOfPlayers }}</p>
          <div class="audio-sottotitoli">
               <p><i class='bx bx-podcast'></i>{{ listV.languages.voice }}</p>
               <p><i class='bx bx-captions'></i>{{ listV.languages.text }}</p>   
          </div>
     </div>
     <p class="data-uscita">Data di Uscita: {{ listV.releaseDate }}</p>   
   </div>
   <br>
   <p class="back" [routerLink]="['/catalogo']">Clicca qui per tornare indietro</p>

 </div>  
</div>
