article {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

figure img{
    width: 640px;
    height: 410px;
    object-fit: cover;
}

.news-header {
    width: 100%;
    position: relative;
  }
  
  .news-header figure {
    margin: 0;
    padding: 0;
  }
  
  .news-header figcaption {
    letter-spacing: .2rem;
    color: #fff;
    font-size: 0.80em;
    margin: 0;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1.5em 0.5em 0.5em;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0) 100%);
  }
  
  .news-header h1 {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em 0.5em 1.5em;
    margin: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0) 100%);
  }
  
  
  p {
    line-height: 2.5;
  }

  .content {
    line-height: 2;
    padding: 5px 25px 5px 25px;
    background-color: #fafafa;
  }

  
  .news-details {
    font-size: 0.75em;
    margin: 2em 0;
  }
  
  .news-details > * {
    margin-right: 1em;
  }

  .news-details .byline {
    font-weight: 700;
  }
  
  .news-details .byline a {
    text-decoration: none;
    color: #33c;
  }
  
  .news-details time {
    color: #666;
  }

  #back-arrow {
    font-size: 1.3rem;
    padding-right: 1rem;
    color: #fff;
  }

  .back-arrow-btn {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }

  .details-content {
    display: flex;
    justify-content: space-evenly;
  }

  .details-content p{
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

  .details-content p i{
    font-size: 1.5rem;
    transform: translate(-30%, 15%);
  }