<article *ngIf="(listaVideogiochi$ | async) as listV">
  <div class="news-header">
    <h1>
      <button class="back-arrow-btn" routerLink="/catalogo">
        <i class='bx bx-arrow-back' id="back-arrow"></i>
      </button> 
      {{ listV.title }}
    </h1>
    <figure>
    <img src="{{ listV.coverImage }}" alt="New-Image" />
    </figure>
    <figcaption>
      <p>Numero giocatori: {{ listV.numberOfPlayers }}</p> 
      <p>Piattaforma: {{ listV.category }}</p>
    </figcaption>
    
  </div>
  <div class="content">
    <!-- <div class="outside"></div> -->
    <div class="news-details">
        <span class="byline" >Di 
        <a>{{ listV.publisher }}</a></span>
        <time>{{ listV.releaseDate }}</time>
        <!-- <span class="tags">{{ listN.tags }}</span> -->
    </div>
  
      <div class="details-content">
        <p><i class='bx bxs-user-voice'></i>{{ listV.languages.voice }}</p>
        <p><i class='bx bx-text'></i>{{ listV.languages.text }}</p>
      </div>
  </div>
</article>
