.wrapper{
   padding-top: 7rem;
   padding-bottom: 7rem; 
}

.title {
    font-weight: bolder;
    font-size: 50px;
}

.game{ 
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    background-color: rgba(55, 55, 55, 0.5);
    max-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 15px;
    margin: 0 auto;
    border-radius: 3%;
    padding-top: 5rem;
    padding-bottom: 5rem; 
}

.image img{
    height: 34rem;
    border-radius: 3%;
}

.back{
   font-style: italic; 
   font-size: 20px;
   color: lightgrey;
   text-decoration: underline;
   cursor: pointer;
}
