* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.background {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-image: url(./assets/BackgroundImage9.png);
    z-index: -999;
}

