<!-- Latest News -->
<div class="wrapper">
    <div class="home-hero" *ngIf="(listaNew$ | async) as listN">
      <div class="feature" id="hover" [ngStyle]="{'background-image': 'url(' + listN[0].imageUrl + ')'}"
            [routerLink]="['dettaglio-news', listN[0]._id]">
        <h3>{{ listN[0].title }}</h3>
        <p>{{ listN[0].authorName }}</p>
      </div>
      <div class="special" id="hover" [ngStyle]="{'background-image': 'url(' + listN[1].imageUrl + ')'}"
           [routerLink]="['dettaglio-news', listN[1]._id]">
        <h3>{{ listN[1].title }}</h3>
        <p>{{ listN[1].authorName }}</p>
      </div>

      <div class="amazing" id="hover" [ngStyle]="{'background-image': 'url(' + listN[2].imageUrl + ')'}"
           [routerLink]="['dettaglio-news', listN[2]._id]">
        <h3>{{ listN[2].title }}</h3>
        <p>{{ listN[2].authorName }}</p>
      </div>
      <div class="news" id="hover" [ngStyle]="{'background-image': 'url(' + listN[3].imageUrl + ')'}"
           [routerLink]="['dettaglio-news', listN[3]._id]">
        <h3>{{ listN[3].title }}</h3>
        <p>{{ listN[3].authorName }}</p>
      </div>

      <div class="photos" id="hover" [ngStyle]="{'background-image': 'url(' + listN[4].imageUrl + ')'}"
           [routerLink]="['dettaglio-news', listN[4]._id]">
        <h3>{{ listN[4].title }}</h3>
        <p>{{ listN[4].authorName }}</p>
      </div>
      <div class="cta" id="hover" [ngStyle]="{'background-image': 'url(' + listN[5].imageUrl + ')'}"
           [routerLink]="['dettaglio-news', listN[5]._id]">
        <h3>{{ listN[5].title }}</h3>
        <p>{{ listN[5].authorName }}</p>
      </div>
    </div>
</div>

<!-- Category News -->
  <section id="category-news">
  <h2 class="section-header">
    <a href="#">
      Notizie Recenti
    </a>
  </h2>
  <div class="latest-news-container">
    <article class="latest-news-item" *ngFor="let lN of (listaNew$ | async)!.slice(6).reverse() as listNews"
             [routerLink]="['dettaglio-news', lN._id]">
      <img src="{{ lN.imageUrl }}" alt="Games Image">
      <h4>
        <a>
        {{ lN.title }}
        </a>
      </h4>
      <div class="writer">
        <a href="#">{{ lN.authorName }}</a>
        <span> . 52 secondi fa</span>
      </div>
    </article>
  </div>
</section>


<!-- Cards -->
<main>
  <div class="cards">
  
  <div class="card">
  <div class="card__image-wrapper">
  <img class="card__image" src="https://t2.tudocdn.net/607373?w=1200&h=1200" alt="Xbox Pass" width="280" height="420">
  </div>
  <div class="card__content">
      <h5 class="card__category">Xbox Pass</h5>
      <h2 class="card__title">Vi state godendo i primi giochi di febbraio per Xbox Game Pass?.</h2>
      <p class="card__text">Tra Darkest Dungeon, Hot Wheels Unleashed, Madden NFL 23 e SD Gundam Battle Alliance avete letteralmente l'imbarazzo della scelta,</p>
      <p class="card__text">mentre per la settimana prossima ci sono già quattro giochi confermati, tra cui Atomic Heart. <strong>Febbraio, tuttavia, promette anche altre sorprese.</strong> </p>
  </div>  
  </div>
  
  <div class="card">
  <div class="card__image-wrapper">
  <img class="card__image" src="https://t2.tudocdn.net/653577?w=1200&h=1200" alt="Ps Plus" width="280" height="420">
  </div>
  <div class="card__content">
      <h5 class="card__category">Ps Plus</h5>
      <h2 class="card__title">Nuovi giochi per i membri di Ps Plus!</h2>
      <p class="card__text">I nuovi giochi PlayStation Plus Premium ed Extra di febbraio verranno annunciati <strong>mercoledì 15 febbraio alle 17:30</strong>  ora italiana.</p>
      <p class="card__text">I giochi saranno poi disponibili dal 21 febbraio.</p> <br>
      <p class="card__text">Secondo alcuni rumor, <strong>Syphon Filter Dark Mirror arriverà presto su PlayStation Plus Premium.</strong> </p>
  </div>
  </div>
  
  <div class="card">
  <div class="card__image-wrapper">
  <img class="card__image" src="https://t2.tudocdn.net/598710?w=1200&h=1200" alt="Nintendo" width="280" height="420">
  </div>
  <div class="card__content">
      <h5 class="card__category">Nintendo Online</h5>
      <h2 class="card__title">Quando escono e quali sono i nuovi giochi per Game Boy?</h2>
      <p  class="card__text">Sebbene il programma di lancio sia ancora sconosciuto, conosciamo già i nomi di alcuni giochi che verranno aggiunti in futuro. Nintendo ha infatti già confermato:</p> <br>
      <li class="card__text"><strong>The Legend of Zelda:</strong> Oracle of Ages & Pokemon Trading Card per Game Boy;</li>
      <li class="card__text"><strong>Metroid Fusion, Kirby and the Amazing Mirror, Fire Emblem</strong>, per Game Boy Advance.</li>
  </div>
  </div>
  
  <div class="card">
  <div class="card__image-wrapper">
  <img class="card__image" src="https://t2.tudocdn.net/644817?w=1200&h=1200" alt="Steam Logo" width="280" height="420">
  </div>
  <div class="card__content">
      <h5 class="card__category">Steam</h5>
      <h2 class="card__title">Aggiornamento negozio di Febbraio</h2>
      <p  class="card__text">L'aggiornamento dello Store di febbraio ti presenta i prodotti in collaborazione con il cantante coreano AIEE e una nuovissima skin Lobby personalizzata!</p>
      <p  class="card__text">Anche il tuo negozio tornerà questo febbraio, quindi <strong>non lasciarti sfuggire l'occasione di ottenere prodotti scontati!</strong></p>
  </div>
  </div>
  
  
  </div>
  </main>

<!-- Recent Games --> <!-- Connettere il routerLink al dettaglio del videogioco-->
<section id="recent-games">
  <h1>Giochi Recenti</h1>
  <div class="flex" *ngIf="(listaVideogiochi$ | async) as listV">
      <div class="box" [routerLink]="[]" >
          <span class="badge new">{{ listV[2].genre }}</span>
          <img src="{{ listV[2].coverImage }}" />
          <div class="box-lower-section">
              <h4>{{ listV[2].title }}</h4>
              <p>{{ listV[2].softwareHouse }} - {{ listV[2].category }}</p>
              <a class="comments">7 Commenti</a>
          </div>
      </div>

      <div class="box" [routerLink]="[]">
          <span class="badge racing">{{ listV[3].genre }}</span>
          <img src="{{ listV[3].coverImage }}" />
          <div class="box-lower-section">
              <h4>{{ listV[3].title }}</h4>
              <p>{{ listV[3].softwareHouse }} - {{ listV[3].category }}</p>
              <a class="comments">3 Commenti</a>
          </div>
      </div>

      <div class="box" [routerLink]="[]">
          <span class="badge adventure">{{ listV[1].genre }}</span>
          <img src="{{ listV[1].coverImage }}" />
          <div class="box-lower-section">
              <h4>{{ listV[1].title }}</h4>
              <p>{{ listV[1].softwareHouse }} - {{ listV[1].category }}</p>
              <a class="comments">12 Commenti</a>
          </div>
      </div>
  </div>
</section>