body {
    background-color: #efefef;  
}

h3 {
    margin: 0;
}

h3+p {
    margin-top: 0;  
}

img {
    max-width: 100%;
}

/* Latest News Starts Here (hero section) */

.wrapper {
    width: 90%;
    max-width: 940px;
    margin: 20px auto;
    padding-top: 7rem;
}

.home-hero {
    display: grid;
    grid-gap: 1px;
    grid-auto-rows: minmax(150px, auto);
}

.home-hero > * {
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333;
    color: #fff;
}

.feature {
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.photos {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.news {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.special {
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.special h3,
.amazing h3{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    margin-top: auto;
}

.amazing {
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    color: #fff;
    display: flex;
    flex-direction: column;
}

.cta {
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(123,14,34);
    color: #fff;
    display: flex;
    flex-direction: column;
}

a.spam-button:link {
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    background-color: #fff;
    color: #333;
    display: block;
    padding: 5px;
    margin: auto auto 20px;
    width: 90%;
    text-align: center;
}

#hover:hover {
    transition: .3s ease-in-out;
    opacity: .7;
}

/* News By Category */
#category-news {
    background-color: #fafafa;
    margin-top: 10rem;
} 
.writer,
.writer a {
    color: #999;
}

.writer a:hover {
    color: #555;
    text-decoration: none;
}

.section-header a {
    text-decoration: none;
    color: #111;
}

#category-news h2 {
    text-align: center;
}

#category-news .latest-news-container {
    margin-top: 2rem;
}

.latest-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10px;
    gap: 30px;
}

.latest-news-container img:hover{
    transition: .3s ease-in-out;
    opacity: .7; 
}

.latest-news-item h4 {
    margin: 0;
}

.latest-news-item a:hover {
    text-decoration: underline;
    color: rgb(231, 47, 47);
}

/* Cards */
.cards {
    display: flex;
    margin: 0 -10px;
}

.cards {
    margin: 0 auto;
    max-width: 900px;
}
  
.card {
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
  
.card header {
    padding: 10px;
    background-color: #222831;
    color: #fff;
}
  
.card header h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
  
.card .body {
    padding: 10px;
    font-size: .9rem;
    color: #757575;
}

/* Recent Games */
.flex {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

.badge {
    padding: 9px 20px;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 0.75em;
}

.badge.new {
    background-color: #FF205F;
}

.badge.racing {
    background-color: #694EAE;
}

.badge.adventure {
    background-color: #40ABF5;
}

#recent-games {
    background: url('https://onclickwebdesign.com/wp-content/uploads/recent_games_bg.png') top center no-repeat;
    background-color: #eef2f6;
    border-top: 1px solid #d6dee7;
    border-bottom: 1px solid #d6dee7;
    padding: 70px 0 120px;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

#recent-games h1 {
    text-align: center;
}

#recent-games .box {
    position: relative;
    flex-basis: 31%;
    background-color: #fff;
}

#recent-games .box .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

#recent-games .box img {
    width: 100%;
}

#recent-games .box .box-lower-section {
    padding: 20px;
}

#recent-games .box .box-lower-section p {
    color: #999;
}

#recent-games .box .box-lower-section a {
    color: #999;
    font-size: 0.8em;
}

.box img:hover {
    transition: .3s ease-in-out;
    opacity: .7;
}

/* Media Queries */
@media only screen and (max-width: 1020px) {
    .latest-news-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}

@media (min-width: 500px) {
    .home-hero {
        grid-template-columns: 1fr 1fr;
    }
    .feature {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    .special {
        grid-column: 1;
        grid-row: 3 / 6;
    }
    .amazing {
        grid-column: 1;
        grid-row: 6;
    }
    .cta {
        grid-column: 2;
        grid-row: 5 / 7;
    }
}
    
@media (min-width: 800px) {
    .home-hero {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(150px, auto) minmax(150px, auto);
        grid-auto-rows: minmax(100px, auto);
    }
    .feature {
        grid-column: 1 ;
        grid-row: 1 / 6;
    }
    .special {
        grid-column: 2;
        grid-row: 1 / 4;
    }
    .amazing {
        grid-column: 2;
        grid-row: 4 / 6;
    }
    .cta {
        grid-column: 3;
        grid-row: 3 / 6;
    }
}

@media (max-width: 800px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .latest-news-container {
        display: flex;
        flex-direction: column;
      }
    
      .latest-news-item {
        margin: 10px;
      }
    
      .latest-news-item img {
        float: left;
        height: 70px;
        width: 100px;
        margin-right: 20px;
      }
}
  
  