<section id="category-news">
    <div class="category-header">
      <div class="category-btn">
        <button>Categoria</button>
        <button>Categoria</button>
        <button>Categoria</button>
      </div>
      <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Cerca...">
      </div>
    </div>
    
  <div class="latest-news-container">
    <article class="latest-news-item" *ngFor="let lN of listaNew$ | async"
             [routerLink]="['/dettaglio-news', lN._id]">
      <img src="{{ lN.imageUrl }}" alt="Games Image">
      <h4>
        <a>
        {{ lN.title }}
        </a>
      </h4>
      <div class="writer">
        <a href="#">{{ lN.authorName }}</a>
        <span> . 52 secondi fa</span>
      </div>
    </article>
  </div>
</section>

