<section id="category-news">
    <div class="category-header">
      <div class="category-btn">
        <button [ngClass]="{'colorBtn' : btnXbox}" (click)="btnXbox = !btnXbox; ricerca()" >XBOX</button>
        <button [ngClass]="{'colorBtn' : btnPs3}"  (click)="btnPs3 = !btnPs3; ricerca()" >PS3</button>
        <button [ngClass]="{'colorBtn' : btnPs4}" (click)="btnPs4 = !btnPs4; ricerca()" >PS4</button>
        <button [ngClass]="{'colorBtn' : btnPs5}" (click)="btnPs5 = !btnPs5; ricerca()" >PS5</button>
        <button [ngClass]="{'colorBtn' : btnGameCube}" (click)="btnGameCube = !btnGameCube; ricerca()">Game Cube</button>
      </div>
      <div class="search-box">
        <button (click)="ricerca()" class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Cerca..." [(ngModel)]="keyRicerca"> 
      </div>
    </div>
    
  <div class="latest-news-container">
    <article class="latest-news-item" *ngFor="let lN of listaNew$ | async"
             [routerLink]="['/dettaglio-news', lN._id]">
      <div class="image-title-news">
          <img src="{{ lN.imageUrl }}" alt="Games Image">
          <h4>
          <a>{{ lN.title }}</a>
          </h4>
      </div>

      <div class="writer">
        <a href="#">{{ lN.authorName }}</a>
        <span> . 52 secondi fa</span>
      </div>
    </article>
  </div>
</section>

<button *ngIf="isShow" class="back-to-top" id="back-to-top" (click)="gotoTop()"><i class='fa fa-chevron-up'></i></button>

